{
  "openapi": "3.0.3",
  "info": {
    "title": "营业厅排队预约服务接口文档",
    "description": "svr-businesshall-devqueue 在线接口文档与调试页面",
    "contact": {
      "name": "devqueue"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://8082.way2free.eu.org:443",
      "description": "Inferred Url"
    }
  ],
  "paths": {
    "/api/svr-businesshall-devqueue/terminal/queue/take": {
      "post": {
        "tags": [
          "现场终端接口"
        ],
        "summary": "现场终端统一取号",
        "description": "支持预约取号(ticketType=00)和现场取号(ticketType=01)。本服务只生成排队号并返回凭条数据，不直接控制打印、客户机或叫号机。",
        "operationId": "takeNumberUsingPOST",
        "parameters": [
          {
            "name": "X-Business-Hall-Id",
            "in": "header",
            "description": "营业厅ID；请求体未传 businessHallId 时使用",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Operator-Id",
            "in": "header",
            "description": "操作人ID；请求体未传 operatorId 时使用",
            "required": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminalTakeNumberDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "请求成功；Result.code=0 表示业务成功，Result.code=1/-1 表示业务失败或服务异常",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result«TerminalTakeNumberVO»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    }
  },
  "components": {}
}