{
  "openapi": "3.0.3",
  "info": {
    "title": "营业厅排队预约服务接口文档",
    "description": "svr-businesshall-devqueue 在线接口文档与调试页面",
    "contact": {
      "name": "devqueue"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://8082.way2free.eu.org:443",
      "description": "Inferred Url"
    }
  ],
  "paths": {
    "/api/svr-businesshall-devqueue/terminal/init": {
      "get": {
        "tags": [
          "现场终端接口"
        ],
        "summary": "终端设备-初始化",
        "description": "终端设备传入 gatewayId，本服务按设备编号查询对应启用设备和正常营业厅信息。",
        "operationId": "initUsingGET",
        "parameters": [
          {
            "name": "gatewayId",
            "in": "query",
            "description": "终端设备ID/设备编号",
            "required": true,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功；Result.code=0 表示业务成功，Result.code=1/-1 表示业务失败或服务异常",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Result«TerminalInitVO»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "extensions": {
          "x-order": "2147483647"
        }
      }
    }
  },
  "components": {}
}